<h1>About this service</h1>

<p>This service is great for simple accounting your working hours. You can add many companies, projects and also
  workdays. ;)</p>
<p>It is written in Ruby with the popular Rails framework. The code is open source under MIT license and available on
  <a href="https://github.com/toxic2302/railsHoursAccounting" data-vivaldi-spatnav-clickable="1" target="_blank">github</a>.</p>