<h1>Your working stats</h1>

<% if user_signed_in? %>
    <p>Workdays: <%= @workdays.count %></p>
    <p>Companies: <%= @companies.count %></p>
    <p>Projects: <%= @projects.count %></p>
<% else %>
    <p>Please login to see your stats!</p>
<% end %>

