<%= image_tag 'profile.png', class: 'img-responsive img-centered', alt: '' %>

<h1 class="text-center">Your working stats</h1>

<% if user_signed_in? %>
    <p class="text-center">Workdays: <%= @workdays.count %></p>
    <p class="text-center">Companies: <%= @companies.count %></p>
    <p class="text-center">Projects: <%= @projects.count %></p>
<% else %>
    <p class="text-center">Please login to see your stats!</p>
<% end %>

