<%= image_tag 'profile.png', class: 'img-responsive img-centered', alt: '' %>

<h1 class="text-center">Your working stats</h1>

<% if user_signed_in? %>
    <%= statistics %>
<% else %>
    <p class="text-center">Please login to see your stats!</p>
<% end %>

